<div class="field">
  <%= f.label "First Name" %>
  <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Last Name" %>
  <%= f.text_field :last_name, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Email" %>
  <%= f.email_field :email, autofocus: true %>
</div>
