<div class="field">
  <%= f.label "College or University" %>
  <%= f.collection_select(:school_id, School.all.sort_by { |s| s.name }, :id, :name) %>
</div>

<div class="field">
  <%= f.label "Link to Photo" %>
  <%= f.url_field :photo_url, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Interests" %>
  <%= f.text_area :interests, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Year in College" %>
  <%= f.select(:year_in_college, options_for_select(Student::COLLEGE_YEARS)) %>
</div>

<div class="field">
  <%= f.label "Major" %>
  <%= f.text_field :major, autofocus: true %>
</div>

<div class="field">
  <%= f.label :living_situation %>
  <%= f.text_field :living_situation, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Hometown" %>
  <%= f.text_field :hometown, autofocus: true %>
</div>
