<div class="field">
  <%= f.label "Prospective Major" %>
  <%= f.text_field :prospective_major, autofocus: true %>
</div>

<div class="field">
  <%= f.label "Semester of Intended Start Date" %>
  <%= f.select(:intended_start_date_semester, options_for_select(Tourist::SEASONS)) %>
</div>

<div class="field">
  <%= f.label "Year of Intended Start Date" %>
  <%= f.number_field :intended_start_date_year, autofocus: true %>
</div>
