<div class="standard-background">
  <br /><br />
  <div class="row">
    <div class="sign-in small-6 large-centered columns">
      <br />
      <h2 align="center">Sign up as a <%= resource_name %>!</h2>
      <% if resource_name == :student %>
        <h3 align="center">Already registered? <%= link_to "Log in", new_student_session_path %></h3>
      <% elsif resource_name == :tourist %>
        <h3 align="center">Already registered? <%= link_to "Log in", new_tourist_session_path %></h3>
      <% end %>
      <br />

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label "First Name" %>
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label "Last Name" %>
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label "Email" %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if resource_name == :student %>
          <div class="field">
            <%= f.label "College or University" %>
            <%= f.collection_select(:school_id, School.all.sort_by { |s| s.name }, :id, :name) %>
          </div>

          <div class="field">
            <%= f.label "Link to Photo" %>
            <%= f.url_field :photo_url, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Interests" %>
            <%= f.text_area :interests, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Year in College" %>
            <%= f.select(:year_in_college, options_for_select(Student::COLLEGE_YEARS)) %>
          </div>

          <div class="field">
            <%= f.label "Major" %>
            <%= f.text_field :major, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Living situation" %>
            <%= f.text_field :living_situation, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Hometown" %>
            <%= f.text_field :hometown, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Favorite restaurant (optional)" %>
            <%= f.text_field :favorite_restaurant, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Worst campus food (optional)" %>
            <%= f.text_field :worst_campus_food, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Sketchiest moment on campus (optional)" %>
            <%= f.text_area :sketchiest_moment, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Biggest misconception about your school (optional)" %>
            <%= f.text_area :biggest_misconception, autofocus: true %>
          </div>

        <% elsif resource_name == :tourist %>
          <div class="field">
            <%= f.label "Prospective Major" %>
            <%= f.text_field :prospective_major, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label "Semester of Intended Start Date" %>
            <%= f.select(:intended_start_date_semester, options_for_select(Tourist::SEASONS)) %>
          </div>

          <div class="field">
            <%= f.label "Year of Intended Start Date" %>
            <%= f.number_field :intended_start_date_year, autofocus: true %>
          </div>

        <% end %>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div align="center" class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      <br />
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
