<% if !current_student && !current_tourist %>
<br /><br />
  <%= render 'unauthorized' %>
<% else %>
  <div class="standard-background">
    <div align="center" class="sign-in small-7 large-centered columns">
      <br /><br /><br />
      <h2 align="center"><%= @student.first_name %> <%= @student.last_name %></h2>
      <br />
      <img class="avatar-icon" src="<%= @student.photo_url %>">
      <br /><br /><br />
      <table style="width:90%; margin-left:5%; margin-right:5%">
        <tr>
          <td><b>Major</b></td>
          <td><%= @student.major %></td>
        </tr>
        <tr>
          <td><b>Class Standing</b></td>
          <td><%= @student.year_in_college %></td>
        </tr>
        <tr>
          <td><b>Interests</b></td>
          <td><%= @student.interests %></td>
        </tr>
        <tr>
          <td><b>Living Situation</b></td>
          <td><%= @student.living_situation %></td>
        </tr>
        <tr>
          <td><b>Hometown</b></td>
          <td><%= @student.hometown %></td>
        </tr>
        <% if @student.favorite_restaurant %>
          <tr>
            <td><b>Favorite Restaurant</b></td>
            <td><%= @student.favorite_restaurant %></td>
          </tr>
        <% end %>
        <% if @student.worst_campus_food %>
          <tr>
            <td><b>Worst Food on Campus</b></td>
            <td><%= @student.worst_campus_food %></td>
          </tr>
        <% end %>
        <% if @student.sketchiest_moment %>
          <tr>
            <td><b>Sketchiest moment at <%= @student.school.nickname %></b></td>
            <td><%= @student.sketchiest_moment %></td>
          </tr>
        <% end %>
        <% if @student.biggest_misconception %>
          <tr>
            <td><b>Biggest Misconception about My School</b></td>
            <td><%= @student.biggest_misconception %></td>
          </tr>
        <% end %>
      </table>
      <br /><br />
      <%= button_to "Contact #{@student.first_name}", root_path, class: "button" %>
      <br /><br /><br />
    </div>
    <br />
  </div>
<% end %>
