<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/e/e9/UC-Berkeley-campus-overview-from-hills.h.jpg"><br /><br />
<h1 align="center">
  CAMPUS VERUS
</h1></div>

<%= render "investment" %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/4/45/Dartmouth_College_campus_2007-10-20_10.JPG"></div>

<%= render "investment" %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Stanford_University_campus_from_above.jpg">
</div>

<%= render "testimonials" %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Central_Campus_Scene_-_University_of_Chicago_-_Illinois_-_USA_-_03.jpg"></div>

<%= render "join_as_a" %>

<div class="parallax-window" data-parallax="scroll" data-image-src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Yale_University_Cross_Campus_2.jpg"></div>

<%= render "about" %>
