<div class="standard-background">
  <br /><br /><br /><br />
  <h1 align="center" style="width:90%; margin-left: 5%; margin-right: 5%">Schools available for tours:</h1>
  <br />
  <h3 align="center" style="width:90%; margin-left: 5%; margin-right: 5%">Select school to view details and available guides.</h3>
  <br />
  <div>
    <table style="width:76%; margin-left: 12%; margin-right: 12%">
      <tr>
        <th>Seal</th>
        <th>Name</th>
        <th>Location</th>
      </tr>
      <% @schools.each do |school| %>
        <tr>
          <td class="centered" style="max-width:150"><a href="/schools/<%= school.id %>">
            <img src="<%= school.logo %>" style="max-height:112px">
          </a></td>
          <td><%= link_to school.name, school_path(school) %></td>
          <td><%= school.city %>, <%= school.state %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= paginate @schools %>
  </div>
</div>
