<div class="standard-background">
  <br /><br />
  <h1 align="center"><%= @school.name %></h1>
  <br />
  <table style="width:70%; margin-left:15%; margin-right:15%">
    <tr>
      <td><b>Website</b></td>
      <td><a href="http://www.<%= @school.email_domain %>"</a> <%= @school.nickname %> homepage</td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td><%= @school.city %>, <%= @school.state %></td>
    </tr>
    <tr>
      <td><b>Motto</b></td>
      <td><%= @school.motto %></td>
    </tr>
    <tr>
      <td><b>Undergraduates</b></td>
      <td><%= @school.undergrad_population %></td>
    </tr>
    <tr>
      <td><b>Graduates</b></td>
      <td><%= @school.graduate_population %></td>
    </tr>
    <tr>
      <td><b>Public?</b></td>
      <td><%= @school.public %></td>
    </tr>
    <tr>
      <td><b>Mascot</b></td>
      <td><%= @school.mascot %></td>
    </tr>
    <tr>
      <td><b>Date Founded</b></td>
      <td><%= @school.date_founded %></td>
    </tr>
  </table>
  <br />

  <% if !current_student && !current_tourist %>
    <%= render 'students/unauthorized' %>
  <% else %>
  <br />
  <div class="row">
    <div align="center" style="margin:20px" class="sign-in small-7 large-7 columns">
      <br /><br />
        <h3 align="center"><%= @school.nickname %> Campus Map</h3>
        <br />
        <iframe width="600px" height="500px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDA_zZGj223xtkEW6TT6TZYAx3VzDON4Y&q=<%= @school.name %>+campus" allowfullscreen>
        </iframe>
      <br /><br /><br />
    </div>
    <div align="center" style="margin:20px" class="sign-in small-2 large-4 columns">
      <br /><br />
        <h3 align="center"><%= @school.nickname %> News</h3>
        <p>
          <ul>
            <% @headlines.each do |article| %>
              <li id="news-list">
              <a id="news-list" href="<%= article['web_url'] %>"><%= "#{article["headline"]["main"]}" %></a>
              </li>
            <% end %>
          </ul>
        </p>
      <br /><br />
    </div>
  </div>

  <br />
  <div class="row" data-equalizer>
    <div class="sign-in small-8 large-centered columns">
      <br /><br />
        <h2 align="center"><b><%= @school.nickname %> Student Tour Guides</b></h2>
      <br /><br />
    </div>
    <br /><br />
      <% @students.each do |student| %>
      <a href="/students/<%= student.id %>">
        <div align="center" style="margin:20px" class="sign-in small-3 large-3 columns" data-equalizer-watch>
          <br />
          <img class="avatar-icon" src="<%= student.photo_url %>"/>
          <br />
          <h2 align="center"><%= student.first_name %></h3>
          <h3 align="center"><%= student.year_in_college %></h2>
          <h4 align="center"><%= student.major %></h4>
          <br />
        </div>
      </a>
      <% end %>
    <% end %>
    <br /> <br />
    <span><%= paginate @students %></span>
  </div>

</div>
