<div class="standard-background">
  <br /><br />
  <h1 align="center"><%= @school.name %></h1>
  <br />
  <table style="width:70%; margin-left:15%; margin-right:15%">
    <tr>
      <td><b>Website</b></td>
      <td><a href="http://www.<%= @school.email_domain %>"</a> <%= @school.nickname %> homepage</td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td><%= @school.city %>, <%= @school.state %></td>
    </tr>
    <tr>
      <td><b>Motto</b></td>
      <td><%= @school.motto %></td>
    </tr>
    <tr>
      <td><b>Undergraduates</b></td>
      <td><%= @school.undergrad_population %></td>
    </tr>
    <tr>
      <td><b>Graduates</b></td>
      <td><%= @school.graduate_population %></td>
    </tr>
    <tr>
      <td><b>Public?</b></td>
      <td><%= @school.public %></td>
    </tr>
    <tr>
      <td><b>Mascot</b></td>
      <td><%= @school.mascot %></td>
    </tr>
    <tr>
      <td><b>Date Founded</b></td>
      <td><%= @school.date_founded %></td>
    </tr>
  </table>
  <br />
  <div class="sign-in small-8 large-centered columns">
    <br /><br />
      <h2 align="center"><b><%= @school.nickname %> Student Tour Guides</b></h2>
    <br /><br />
  </div>
  <br /><br />
  <% if !current_student && !current_tourist %>
    <%= render 'students/unauthorized' %>
  <% else %>
    <% @students.each do |student| %>
    <a href="/students/<%= student.id %>">
      <div align="center" style="margin:20px" class="sign-in small-2 small-centered large-2 large-centered columns end">
        <br />
        <img class="avatar-icon" src="<%= student.photo_url %>"/>
        <br />
        <h2 align="center"><%= student.first_name %></h3>
        <h3 align="center"><%= student.year_in_college %></h2>
        <h4 align="center"><%= student.major %></h4>
        <br />
      </div>
    </a>
<!-- Include cards in @students that randomly show up and tap into NYT News API, Weather API, Possibly Crime twitter? -->
    <% end %>
  <% end %>
  <br />
</div>
