<div class="standard-background">
  <br /><br />
  <h1 align="center"><%= @school.name %></h1>
  <br />
  <table style="width:70%; margin-left:15%; margin-right:15%">
    <tr>
      <td><b>Website</b></td>
      <td><a href="http://www.<%= @school.email_domain %>"</a> <%= @school.nickname %> homepage</td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td><%= @school.city %>, <%= @school.state %></td>
    </tr>
    <tr>
      <td><b>Motto</b></td>
      <td><%= @school.motto %></td>
    </tr>
    <tr>
      <td><b>Undergraduates</b></td>
      <td><%= @school.undergrad_population %></td>
    </tr>
    <tr>
      <td><b>Graduates</b></td>
      <td><%= @school.graduate_population %></td>
    </tr>
    <tr>
      <td><b>Public?</b></td>
      <td><%= @school.public %></td>
    </tr>
    <tr>
      <td><b>Mascot</b></td>
      <td><%= @school.mascot %></td>
    </tr>
    <tr>
      <td><b>Date Founded</b></td>
      <td><%= @school.date_founded %></td>
    </tr>
  </table>
  <br />
  <br />
  <% if !current_student && !current_tourist %>
    <div class="sign-in small-9 large-centered columns">
      <br />
      <h3 align="center">High school student? <%= link_to "Log In", new_tourist_session_path %> or <%= link_to "Sign Up", new_tourist_registration_path %> to view available guides at <%= @school.nickname %></h3>
      <h3 align="center">College student? <%= link_to "Log In", new_student_session_path %> or <%= link_to "Sign Up", new_student_registration_path %> to view available guides at <%= @school.nickname %></h3>
      <br />
    </div>
  <% end %>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

</div>
