<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Campus Verus</title>
    <link rel="icon" href="http://www.veryicon.com/icon/png/Object/Nova/Column.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "parallax" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <br /><br />
      <% if notice %>
      <div class="not-transparent panel callout">
        <div class="callout success"><%= notice %></div>
      </div>
      <% elsif alert %>
      <div class="not-transparent panel callout">
        <div class="callout alert"><%= alert %></div>
      </div>
      <% end %>

    <%= yield %>

      <div class="header">
        <div class="outer">
          <!-- Medium-Up Navigation -->
          <nav class="top-bar sticky-wrapper" id="nav-menu">

            <div class="logo-wrapper hide-for-small-only">
              <div class="logo">
                <a href="/"><img src="http://placehold.it/350x150?text=LOGO"></a>
              </div>
            </div>

            <!-- Left Nav Section -->
            <div class="top-bar-left">
              <ul class="vertical medium-horizontal menu">
                <li><%= link_to "Schools", schools_path %></li>
                <li><%= link_to "About", root_path(anchor: "about") %></li>
              </ul>
            </div>

            <!-- Right Nav Section -->
            <div class="top-bar-right">
              <ul class="vertical medium-horizontal menu">
                <li>
                  <%= form_tag(schools_path, :method => "get", id: "search-form", style: "background-color:white") do %>
                  <ul class="menu">
                    <li>
                      <%= text_field_tag :search, params[:search], placeholder: "Search Schools" %>
                    </li>
                    <li>
                      <%= submit_tag "Search", :name => nil, class: "button" %>
                    </li>
                  </ul>
                  <% end %>
                </li>
                <% if !current_student && !current_tourist %>
                  <li><%= link_to "Take a Tour", new_tourist_registration_path %></li>
                  <li><%= link_to "Become a Guide", new_student_registration_path %></li>
                <% elsif current_student %>
                  <li><%= link_to "Your Account", student_path(current_student) %></li>
                  <li><%= link_to "Log Out", destroy_student_session_path %></li>
                <% elsif current_tourist %>
                  <li><%= link_to "Your Account", tourist_path(current_tourist) %></li>
                  <li><%= link_to "Log Out", destroy_tourist_session_path %></li>
                <% end %>
              </ul>
            </div>
          </nav>
       </div>
     </div>
  </body>
</html>
